<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Скука и рутина это зло</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div id="header">
    <a href="/">
      <h1>Скука и рутина</h1>
      <h1>это зло</h1>
    </a>
  </div>
  <div id="container">
    <div id="right">
      {% include column.markdown %}
    </div>

    <div id="content">
      {{ content }}
    </div>
  </div>
</body>
</html>
