<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Скука и рутина это зло</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="/stylesheets/base.css" rel="stylesheet" type="text/css" media="screen" />
  <!--[if lte IE 6]>
  <link rel="stylesheet" href="/stylesheets/base_ie.css" type="text/css" media="screen, projection" />
  <![endif]-->
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" charset="utf-8"/>
</head>
<body>
  <div id="red-circle"></div>
  <div id="wrapper">
    <div id="header">
      <a href="/">
      Скука и Рутина <br />
      это Зло
      </a>
    </div>
    <div id="middle">
      <div id="container">
        <div id="content">
          {{ content }}
        </div>
      </div>
      <div id="sideRight" class="sidebar">
        <div class="sidebarContent">
          {% include column.html %}
        </div>
      </div>
    </div>
  </div>

  <div id="footer">
    2011
  </div>

</body>
</html>
